extends layout

block content
  .content
    include header
    .container
      .content
        .row.jumbotron
          .ui-view-container.span12
            div(ui-view).well
              p Loading....