doctype html
head
    title= title
    link(href="bootstrap/dist/css/bootstrap.min.css" rel='stylesheet',)
    link(href="toastr/toastr.min.css" rel='styleSheet')
    link(href="PACE/themes/blue/pace-theme-loading-bar.css" rel='styleSheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

html
    body
        block content
     script(src="requirejs/require.js" data-main="scripts/main.js")
