doctype html
head
    title= title
    link(href="bootstrap/dist/css/bootstrap.min.css" rel='stylesheet',)
    link(rel='stylesheet', href="PACE/themes/blue/pace-theme-flash.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='PACE/pace.min.js')
html
    body
        block content
     script(src="requirejs/require.js" data-main="scripts/main.js")
