doctype html
head
    title= title
    link(href="bootstrap/dist/css/bootstrap.min.css" rel='stylesheet',)
    link(rel='stylesheet', href='/stylesheets/style.css')
html
    body
        block content
     script(src="requirejs/require.js" data-main="scripts/main.js")
