div.alert-warning.alert
    div Book Name : {{ selectedBook.name }}
    div Book Price : {{ selectedBook.price }}
    div Book Author : {{ selectedBook.author }}
    div Book ISBN : {{ selectedBook.isbn }}