.row
    h4 Welcome, please enter your name
    form(ng-submit="gotoBooksPage()")
        input.form-control(ng-model='name' type="text")
        br
        input.btn.btn-primary(type="submit" value="Select Books")